<!-- templates/admin.html -->
{% extends 'base.html' %}

{% block title %}Add Router{% endblock %}


{% block content %}
    <h2 class="mb-4">Add a New Router</h2>

    <!-- Add Router Form -->
    <form method="POST">
        <div class="mb-3">
            <label for="rpi_mac" class="form-label">Raspberry Pi MAC Address:</label>
            <input type="text" class="form-control" id="rpi_mac" name="rpi_mac" required>
        </div>

        <div class="mb-3">
            <label for="public_ip" class="form-label">Public IP Address:</label>
            <input type="text" class="form-control" id="public_ip" name="public_ip" required>
        </div>

        <div class="mb-3">
            <label for="local_ip" class="form-label">Local IP Address:</label>
            <input type="text" class="form-control" id="local_ip" name="local_ip" required>
        </div>

        <div class="mb-3">
            <label for="username" class="form-label">SSH Username:</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>

        <button type="submit" class="btn btn-primary">Add Router</button>
    </form>
    
    <a href="/dashboard" class="btn btn-secondary mt-3">Back to Home</a>
{% endblock %}

